mixin diagram-png(diagram)
	table
		tr
			td
				h4!=diagram.properName
			td.right
		tr
			td.white(colspan=2)
				a(href=`/diagram/${diagram.name}`, title=diagram.description)
					img(src=`/diagram/${diagram.name}.png`, width="200px", height="150px")
		tr.diagramSlot
			td.author #{diagram.name}
			td.date #{new Date(diagram.timestamp).toLocaleString()}
